<footer class="app-footer">
  <div class="footer-container">
      <div class="footer-logo">
        <img src="/assets/images/explora Tur.svg" alt="logo-rodapé">
        <p>A ExploraTur é um site de turismo que oferece pacotes personalizados e exclusivos para você e seus familiares.</p>
        <div class="footer-social">
          <a href="#"><i class="bi bi-instagram"></i></a>
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>
      <div class="footer-links">
        <div class="footer-column">
          <h4>INSTITUCIONAL</h4>
          <ul>
            <li>Sobre</li>
            <li>Carreiras</li>
            <li>Loja</li>
            <li>Privacidade</li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>CONTATO</h4>
          <ul>
            <li>Ajuda - FAQ</li>
            <li>Imprensa</li>
            <li>Afiliados</li>
          </ul>
        </div>
        <div class="footer-column">
          <h4>AJUDA</h4>
          <ul>
            <li>Help Center</li>
            <li>Minhas Viagens</li>
            <li>Chat ao vivo</li>
          </ul>
        </div>
      </div>
  </div>

  <div class="footer-bottom">
      Copyright © ExploraTur - Todos os direitos reservados, 2025
  </div>
</footer>

