<header class="app-header">
  <nav id="navbar">
      <span class="logo"><img src="/assets/images/explora Tur.svg"/></span>
      <ul class="menu">
          <li><a href="#">INICIO</a></li>
          <li><a href="#">DESTINOS</a></li>
          <li><a href="#">CONTATO</a></li>
      </ul>

      <div class="login">
          <div class="login-btn"><a href="#"><i class="bi bi-person-circle"></i> Entre ou cadastre-se</a></div>
      </div>

      <div class="abrir-menu" id="btn-menu">
          <i class="bi bi-list abrir-icon"></i>
      </div>

      <div class="menu-mobile" id="menu-mobile">
          <div class="btn-fechar">
                  <i class="bi bi-x fechar-icon"></i>
          </div>



          <div class="div-ul">
              <ul>
                  <li><a href="#">INICIO</a></li>
                  <li><a href="#">DESTINOS</a></li>
                  <li><a href="#">CONTATO</a></li>
              </ul>
          </div>
      </div>
      <div class="overlay-menu" id="overlay-menu"></div>
  </nav>
</header>
