<app-default-login-layout
  title="Faça login na sua conta"
  primaryBtnText="Entrar agora"
  secondaryBtnText="Cadastrar agora"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="johndoe@gmail.com"
    >
    <img src="/assets/svg/email-icon.svg"/>
    </app-primary-input>
    <app-primary-input
            formControlName="password"
            inputName="password"
            type="password"
            label="Sua senha"
        >
        <img src="/assets/svg/password-icon.svg"/>
    </app-primary-input>
    <span>Forgot password?</span>
  </form>
</app-default-login-layout>
